<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="bs-component">
        <div class="jumbotron">
          <h1 class="display-3">Find a movie</h1>
          <p class="lead">Search for movie using the form below.</p>
          <form action="" class="form-group">
            <input type="text" class="form-control"/>
            <button class="btn-primary mt-3">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Popular Movies</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let movie of popular;let i=index" class="col-md-2">
        <div *ngIf="i < 6">
          <app-movie [movie]="movie"></app-movie>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">In Theaters</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let movie of theatres;let i=index" class="col-md-2">
        <div *ngIf="i < 6">
          <app-movie [movie]="movie"></app-movie>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Kids</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let movie of kids;let i=index" class="col-md-2">
        <div *ngIf="i < 6">
          <app-movie [movie]="movie"></app-movie>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Best Dramas</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let movie of dramas;let i=index" class="col-md-2">
        <div *ngIf="i < 6">
          <app-movie [movie]="movie"></app-movie>
        </div>
      </div>
    </div>
  </div>
</div>
